<header >
	<div class="wrap-header zerogrid">
		<div class="row">
			<div id="cssmenu">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", '#' %></li>
          <li><%= link_to "Projects", '#' %></li>
          <li><%= link_to "Contact", home_contact_path %></li>
				</ul>
			</div>
			<%= link_to( image_tag("/assets/logo.png"), root_path ) %>
		</div>
	</div>
</header>
